title Settings for #{guildID}
#nav
  .navbar.navbar-inverse.navbar-static-top
    .container
      a.navbar-brand(href='#')
        img(src='/dashboard/images/logger.png', width="30", height="30")
        ul.nav.navbar-nav
          li
            a(href='https://whatezlife.com/dashboard/') Home
          li
            a(href='serverselector') Server Selector
          li.navbar-right
            a(href='logout') Logout

#popup.modal
  // Modal content
  .modal-content
    span#close ×
    p#message-content
body.page
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link(href='/dashboard/css/style.css', rel='stylesheet')
    script(src='/dashboard/js/jquery.min.js')
    h2.text-center.heading Click the box below to see valid logchannels!
    br
    form(id="logChannelForm", onsubmit="return false").text-center
        input(type="hidden", name='guildID', value='#{guildID}', readonly)
        select(name='channelSelector')
            - if (defaultChannel) {
                option(value=`${defaultChannel.id}`) #{defaultChannel.name}
            - }
            - for(let x = 0; x < channelList.length; x++) {
                option(value=`${channelList[x].id}`) #{channelList[x].name}
            - }
        br
        br
        button(id="submitB") Submit

    script.
        let modal = document.getElementById('popup')
        let span = document.getElementById('close')
        let message = document.getElementById('message-content')
        let btn = document.getElementById('submitB')
        span.onclick = function() {
            modal.style.display = "none";
        }
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        $("#submitB").click(function () {
            console.log('clicked')
            $.ajax({
                type:'POST',
                url:'https://whatezlife.com/dashboard/savechannel',
                data:$('#logChannelForm').serialize(),
                success:function(msg) {
                    message.innerHTML = 'Successfully submitted!'
                    modal.style.display = 'block'
                },
                error:function (msg) {
                    message.innerHTML = 'An error occurred while submitting'
                    modal.style.display = 'block'
                }
            })
        })
