title Settings for #{guildID}
#nav
  .navbar.navbar-inverse.navbar-static-top
    .container
      a.navbar-brand(href='#')
        img(src='/dashboard/images/logger.png', width="30", height="30")
        ul.nav.navbar-nav
          li
            a(href='https://whatezlife.com/dashboard/') Home
          li
            a(href='serverselector') Server Selector
          li.navbar-right
            a(href='logout') Logout

#popup.modal
  // Modal content
  .modal-content
    span#close ×
    p Submitted!
body.page
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link(href='/dashboard/css/style.css', rel='stylesheet')
    script(src='/dashboard/js/jquery.min.js')
    h2.text-center.heading Check means <b>enabled</b>.
    br
    form(id="modulesForm", onsubmit="return false").text-center.cardpanel
        p
        input(type="hidden", name='guildID', value='#{guildID}', readonly)
        each event in enabled
            | #{event}:
            input(type="checkbox", name=`${event}`, checked)= event
            br
        each event in disabled
            | #{event}:
            input(type="checkbox", name=`${event}`)
            br
        br
        br
        button(id="submitB") Submit

    script.
        let modal = document.getElementById('popup')
        let span = document.getElementById('close')
        let btn = document.getElementById('submitB')
        span.onclick = function() {
            modal.style.display = "none";
        }
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        $("#submitB").click(function () {
            $.ajax({
                type:'POST',
                url:'https://whatezlife.com/dashboard/submitmodules',
                data:$('#modulesForm').serialize(),
                success:function(msg){
                    console.log('success')
                }
            })
            modal.style.display = 'block'
        })
